body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.header-title {
    background-image: url('images/port_long.jpeg'); /* Load background image */
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.header-title h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 40px;
    /* Optional: Add a semi-transparent background for better readability */
    /* background: rgba(0, 0, 0, 0.5); */
}


nav {
    background-color: #575757;
    padding: 1em 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 14px 20px;
}

nav a:hover {
    background-color: #333;
    border-radius: 4px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center; /* Center images vertically */
    flex-direction: column; /* Stack images vertically */
}

footer img {
    margin: 0 10px;
    max-height: 450px; /* Set maximum height */
    width: auto; /* Maintain aspect ratio */
}

h1, h2 {
    text-align: center;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
